{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if app.user != null %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">List of Champions</div>
                        <table class="table">
                            <tr>
                                <th>Image</th>
                                <th>Champion</th>
                                <th>Class</th>
                                <th>Description</th>
                            </tr>
                            {% for champion in champions %}
                            <tr>
                                <td><img src="{{ champion.image }}"></td>
                                <td>{{ champion.name }}</td>
                                <td>{{ champion.class }}</td>
                                <td>{{ champion.description }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% if app.user == null %}
            <a href="/login" class="btn btn-info">You neet to login >></a>
        {% endif %}
    </div>

{% endblock %}
