{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h1 class="title">Contest of Champions</h1>
                        <h3>Login</h3>
                        <hr />
                    </div>
                </div>
                <div class="main-login main-center">
                    <form class="form-horizontal" role="form" method="POST" action="{{ path('security_login_check') }}">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData) }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">E-Mail Address</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa"></i></span>
                                    <input id="email" type="email" placeholder="Enter your Email.." class="form-control" name="_email" value="{{ last_username }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                                    <input id="password" type="password" placeholder="Enter your Password.." class="form-control" name="_password" value="{{ last_username }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-froup">
                            <input type="checkbox" id="remember_me" name="_remember_me" checked />
                            <label class="cols-sm-2 control-label" for="remember_me">Keep me logged in</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endblock %}